.landing-page {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  h1 {
    text-align: center;
  }
}
.recent-blogs {
  flex-basis: 65%;
  margin-top: 2em;
}
.login-google {
  border: 3px solid black;
  border-radius: 5px;
  margin-inline: auto;
  width: 150px;
  padding: 0.25em;
  cursor: pointer;
}
.login-container {
  margin-top: 2em;
  position: sticky;
  top: 30px;
  // margin-left: auto;
  text-align: center;
  // width: 45%;
  // min-width: 300px;
  flex-basis: 25%;
}
.userpass {
  input {
    padding: 0.5em 0.25em;
  }
  > * {
    margin-block: 1em;
  }
  margin-block: 1em;
}
@media (max-width: 720px) {
  .landing-page {
    flex-direction: column;
  }
  .recent-blogs {
    order: 2;
  }
  .login-container {
    order: 1;
    position: static;
    margin-inline: auto;
  }
}
.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 05px;
  right: 05px;
  background-color: white;
  button {
    width: 100%;
  }
}
@media (min-width: 725px) {
  .navbar,
  .navbar button {
    display: none;
  }
}
