.leftsidebar {
  border-right: thin solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    padding: 0;
    margin: auto;

    > * {
      margin-top: 1em;
    }
  }
  a {
    color: black;
  }
}
