.form-wrapper {
  //   display: grid;
  //   place-items: center;
  height: 100vh;
  background-color: lightgray;
  width: 100%;
}
.new-blog {
  display: flex;
  flex-direction: column;
  margin: 1em;
  min-width: 300px;
  width: 85%;
  max-width: 450px;
}
.new-blog > * {
  margin-block: 2em;
}
.buttons {
  display: flex;
}
button {
  margin-inline: auto;
  padding: 0.5em 1em;
}
#heading {
  text-transform: capitalize;
}
form > #heading,
form > #summary {
  padding: 1em;
  font-size: large;
}
.header {
  margin-inline: 5em;
  display: flex;
  align-items: center;
  .logo {
    margin: 0;
  }
  > * {
    cursor: pointer;
    margin: 0.5em;
    margin-inline-end: 0.5em;
  }
  .icon {
    font-size: xx-large;
  }
  .profile {
    padding: 0;
    margin: 0;
    margin-block: auto !important;
  }
}
.center {
  margin-block: auto !important;
}
.publish {
  margin-left: auto !important;
  background-color: #1a8917;
  color: white;
  padding: 0.5em 0.75em;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
}
.publish:hover {
  background-color: #0f730c;
}
.new-blog {
  margin-inline: auto;
}
