.blog-list {
  height: 100vh;
  .horizontal-line {
    padding: 0.25em;
    border-bottom: thin solid lightgrey;
  }
  .add-blog {
    margin-top: 1em;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0;
    a {
      color: black;
      font-weight: 900;
      line-height: 1.1;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1em 0.5em;
      transition: all 0.2s;
    }
  }
  .add-blog:hover a {
    background-color: grey;
    color: rgba($color: #eee4e4, $alpha: 1);
    border-radius: 10px;
  }
}

.blog-sneak-pic {
  color: black;

  .author-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  > .head {
    display: flex;
    align-items: center;

    > span {
      font-size: small;
      margin-inline-start: 1em;
    }
    .blog-date {
      color: grey;
    }
  }
  .content {
    h2 {
      font-weight: bolder;
      margin-block: 0.5em;
    }
    p {
      font-weight: normal;
      margin-block: 0.5em;
      font-size: medium;
    }
  }
}
li {
  border-bottom: thin solid lightgrey;
  list-style: none;
  word-wrap: break-word;
  padding: 2em 1em;
}
