.home {
  // layout
  margin-bottom: 80px;
  .leftsidebar {
    margin: 0 !important;
    padding: 1em 0.5em;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .center-component {
    margin-bottom: 2em;
    // height: 100vh;
  }
}
