.right-side-bar-wrapper {
  border-left: thin solid lightgray;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 25%;
  background-color: grey;
}
.right-side-bar {
  height: 100%;
  padding: 1em;
}
.right-side-bar-wrapper::-webkit-scrollbar {
  display: none;
}
