*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  display: flex;

  margin-top: 1em;
  align-items: start;
}
.home > * {
  margin-inline: auto;
}
.profile {
  width: 25%;
}
.blog-list {
  width: 50%;
}
.logout {
  width: 10%;
  text-align: center;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-block: 1em;
  border-radius: 10px;
}
.add-blog {
  background-color: grey;
  color: darkgray;
  cursor: pointer;
  padding: 1em;
}
a {
  padding: 1em;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: larger;
}
li {
  margin-block: 0.5em;
  border: thin solid grey;
  border-radius: 5px;
  list-style: none;
  word-wrap: break-word;
  padding: 1em;
}
li > * {
  margin-block-end: 0.5em;
}
.heading {
  font-weight: bolder;
}
.summary {
}

.flex {
  display: flex;
  justify-content: space-between;
}
.form-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: lightgray;
  width: 100%;
}
.new-blog {
  display: flex;
  flex-direction: column;
  margin: 1em;
  min-width: 300px;
  width: 85%;
  max-width: 450px;
}
.new-blog > * {
  margin-block: 2em;
}
.buttons {
  display: flex;
}
button {
  margin-inline: auto;
  padding: 0.5em 1em;
}
#heading {
  text-transform: capitalize;
}
form > #heading,
form > #summary {
  padding: 1em;
  font-size: large;
}
