@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  font-family: mo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
